@charset "UTF-8";

/* 
  Paleta de Cores 

  Verde: #49a09d
  Lilás: #5f2c82
  
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  background-color: white;
  width: 255px;
  height: 520px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
  
  transition: width .3s, height .3s;
  transition-timing-function: ease;
  /* sempre quando houver animações, coloque o transform sempre na ultima linha do seletor */
  transform: translate(-50%, -50%);
}

section#login > div#imagem {
  display: block;
  background: #5f2c82 url(../imagens/pexels-lawlesscapture-13737660.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 200px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
  padding: 5px;
}

form > div.campo {
  background-color: #5f2c82;
  width: 100%;
  height: 45px;
  display: block;
  border-radius: 8px;
  border: 2px solid #5f2c82;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

div.campo > span {
  color: #fff;
  /* background-color: black; */
  font-size: 2em;
  padding: 5px;
  width: 39px;
  height: 100%;
}

div.campo > input {
  background-color: #6edbd8;
  font-size: 1em;
  width: calc(100% - 45px);
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 30px;
  /* sempre quando houver animações, coloque o transform sempre na ultima linha do seletor */
  transform: translateY(-10px) translateX(2px);
}

div.campo > input:focus-within {
  background-color: white;
  border: 0px;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #49a09d;
  color: white;
  border: none;
  border-radius: 5px;
}

form > input[type=submit]:hover {
  background-color: #2d615f;
  cursor: pointer;
}

form > a.botao {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #2d615f;
  border: 1px solid  #49a09d;
  border-radius: 5px;
  margin-top: 5px;
}

form > a.botao:hover {
  background-color: #6edbd8;
}

form > a.botao > span {
  font-size: .8em;
  padding-top: 10px;
}